# Dev directories
.tmp
dev
src
routes

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

.idea
closureExterns.js
app.js
gulp.config.js
gulpfile.js
esdoc.json